* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
  --border: solid 3px #BB99DD;
  --link-hover: #D8D8D8;
}

body * {
  font-family: "Poppins", sans-serif;
  color: var(--purple);
}

body {
  background-color: var(--body-bg-color);
}

.container {
  margin: 35px auto 0;
  padding: 12px 0;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.perfil {
  text-align: center;
}

.perfil>img {
  margin-bottom: 13px;
}

.foto {
  border: var(--border);
  border-radius: 50%;
}

.insta {
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul.links {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

ul.links li {
  padding: 12.5px 139.5px;
  border: var(--border);
  border-radius: 4px;
  cursor: pointer;
}

ul.links li:hover {
  background-color: var(--link-hover);
}

ul.links li a {
  text-transform: uppercase;
  font-weight: 600;
}

.social-links {
  width: 326px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.social-links a {
  padding: 12px;
  display: flex;
  align-items: center;
  transition: all .4s;
}

.social-links a:hover {
  transform: scale(1.1);
  border-radius: 100%;
  background-color: var(--link-hover);
}

@media (max-width: 600px) {
  .container {
    width: 360px;
  }
}